<!-- Emails use the XHTML Strict doctype -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <!-- The character set should be utf-8 -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!-- Enables media queries -->
  <meta name="viewport" content="width=device-width"/>
  <!-- Link to the email's CSS, which will be inlined into the email -->
  <link rel="stylesheet" href="../css/styles.css" inline>
</head>
<body>
    <table class="body">
      <tr>
        <td>
          <center>

            <spacer size="15"></spacer>
            <container><!-- PREHEADER-->
              <row>
                <columns small="12" large="6">
                  <p class="small-text-center">Lorem ipsum dolor sit amet.</p>
                </columns>
                <columns small="12 " large="6" >
                  <p class="text-right preheader-text small-text-center"><a href="#" target="_blank">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti dicta mollitia asperiores et laudantium autem.</a></p>
                </columns>
              </row>
            </container><!-- PREHEADER CLOSE -->

            <spacer size="25"></spacer>
            <container><!-- HEADER-->
              <row>
                <columns small="2" large="1" style="margin-bottom: 0;">
                  <span><img src="img/Ellipse1.png" alt="Logo image"></span>
                </columns>
                <columns small="2" large="2" style="margin-bottom: 0;">
                  <p class="logo-title" s >Focus</p>
                </columns>
                <columns small="1" large="2" >
                </columns>
                <columns small="5" large="10" >
                  <p class="text-right header-text">LIFESTYLE ACCESSORIES WITH A DOWN TO EARTH</p>
                </columns>
              </row>
            </container><!-- HEADER CLOSE -->

            <spacer size="35"></spacer>
              <container><!-- MAIN TITLE PAGE  -->
                <row>
                  <columns>
                    <h1 class="text-center main-titl-page">ONE BAG, 2PACK, THREE WAYS.</h1>
                  </columns>
                </row>
              </container><!-- MAIN TITLE CLOSE -->
              <spacer size="35"></spacer>

            <!-- MAIN IMAGE BLOCK -->
            <container>
              <row>
                <columns>
                  <span><img src="img/basic-img.png" alt="Bag"></span>
                </columns>
              </row>
            </container><!-- MAIN IMAGE BLOCK - CLOSE -->
            <spacer size="10"></spacer>

            <container>
              <row>
                <columns small="12">
                  <span><img src="img/sweater.png" alt="Bag"></span>
                  <p>Lorem Ipsum is simply dummy text of the printing
                    and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the
                    1500.
                  </p>
                  <span>
                    <a href="#" class="main-btn text-left" target="_blank">Iphone now</a>
                  </span>
                  <spacer size="30"></spacer>
                </columns>
                <columns small="12">
                  <span><img src="img/bag-dark.png" alt="Dark bag" ></span>
                  <p>Lorem Ipsum is simply dummy text of the printing
                    and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the
                    1500.
                  </p>
                  <span>
                    <a href="#" class="main-btn text-left" target="_blank">Iphone now</a>
                  </span>
                  <spacer size="30"></spacer>
                </columns>
              </row>
            </container><!-- MAIN IMAGE BLOCK - CLOSE -->
            <spacer size="30"></spacer>


            <container large="12"><!--TITLE "IPHONE CASES" with decorative lines-->
              <row>
                <columns large="12">
                  <div class="gray-line">
                  </div>
                </columns>
              </row>

              <row>
                <columns large="12">
                  <p class="text-left">IPHONE CASES</p>
                </columns>
              </row>

              <row>
                <columns large="12">
                  <div class="gray-line">
                  </div>
                </columns>
              </row>
            </container>
            <spacer size="30"></spacer><!--CLOSE TITLE "IPHONE CASES" with decorative lines-->

            <container><!-- Telephons products-->
              <row>
                <columns small="12" large="4">
                  <a href="#" target="_blank">
                    <img src="img/phone-broun.png" alt="Phone" class="phone-img" align="center" >
                    <p class="small-text-center">SPORT IPHONE 5 CASE</p>
                    <p class="small-text-center">HERITAGE</p>
                  </a>
                </columns>
                <columns small="12" large="4">
                  <a href="#" target="_blank">
                    <p align="center"><img src="img/phone-dark.png"  alt="Phone" class="small-text-center phone-img"></p>
                    <p class="small-text-center">IPHONE FOLD WALLET</p>
                    <p class="small-text-center">SMOKE</p>

                  </a>
                </columns>
                <columns small="12" large="4">
                  <a href="#" target="_blank" align="center">
                    <img src="img/phone-broun.png" alt="Phone" class="phone-img">
                    <p class="small-text-center">DRAW IPHONE CASE</p>
                    <p class="small-text-center">STAND / HERITAGE</p>
                  </a>
                </columns>
              </row>
              


              <spacer size="30"></spacer>

              <row>
                <columns large="12">
                  <p class="text-center">
                    <a href="#" class="main-btn text-left" target="_blank">Iphone now</a>
                  </p>
                </columns>
              </row>
            </container>
            <spacer size="30"></spacer><!--CLOSE Telephons products-->


            <container>
              <row>
                <columns large="12">
                  <img src="img/fhone-big.jpg" alt="Phone">
                </columns>
              </row>
              <spacer size="10"></spacer>
              <row>
                <columns large="12">
                  <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage.</p>
                </columns>
              </row>
              <row>
                <a href="#" target="_blank" class="small-text-center">Read more</a>
              </row>
            </container>
            <spacer size="40"></spacer>

            <row>
              <container>
                <row>
                  <columns>
                    <p class="text-center"> <a href="#" target="_blank">Terms</a> | <a href="#" target="_blank">Privacy</a> | <a href="#" target="_blank">Unsubscribe</a></p>
                  </columns>
                </row>
              </container>
            </row>

          </center>
        </td>
      </tr>
    </table>

</body>
</html>
